<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @voter.email %>
</p>

<p>
  <b>Username:</b>
  <%= @voter.username %>
</p>

<p>
  <b>Phone:</b>
  <%= @voter.phone %>
</p>

<p>
  <b>Approved:</b>
  <%= @voter.approved %>
</p>


<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
